@import "src/styles/base/gutter.scss";
@import "src/styles/base/border.scss";
@import "src/styles/common/display.scss";

.card {
  width: 100%;
  height: 100%;
  padding: $gutter-component;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover {
    border-radius: $border-radius-card;
  }
}

.ghost {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  @extend %display-column;
  @extend %justify-content-center;
  @extend %align-items-center;
  transition: opacity 0.35s;

  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: $border-radius-card;
  }
}

.image {
  width: 100%;
  object-fit: cover;
  background-position: center;
  border-radius: $border-radius-card;
  box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, 0.028),
    0 0.4px 1.1px rgba(0, 0, 0, 0.042), 0 2px 5px rgba(0, 0, 0, 0.07);
}
